# Created by .ignore support plugin (hsz.mobi)
node_modules
npm-debug.log
doc
//Gruntfile.js
//package.json
Thumbs.db
.sass-cache
.ftppass
## Directory-based project format
.idea/
/*.iml
## file
dist
.grunt
/src/@filesearch.php
/src/@fileview.php
/src/@template.php
/src/@imglist.php
/src/@imgsearch.php
.DS_Store
/src/css/*.css.map
.gulp_config.json
package-lock.json
